.title {
  display: flex;
  gap: 8px;
}

.sub-title {
  margin: 8px 0 16px;
}

.table {
  border-collapse: collapse;
  display: grid;
  margin-top: 16px;
  background-color: white;
  text-align: left;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
}

.table-header {
  display: grid;
  padding: 16px;
  grid-template-columns: minmax(140px, 1fr) repeat(6, 1fr);
  align-items: center;
  border-bottom: 1px solid;
  color: #555;
}

.table-row {
  display: grid;
  padding: 16px;
  grid-template-columns: minmax(140px, 1fr) repeat(6, 1fr);
  align-items: center;
  color: #555;
}

.table-row:nth-child(even) {
  background-color: var(--background-color);
}

.table-cell {
  text-align: center;
}

.table-cell:first-of-type {
  text-align: left;
}
